* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}

h1 {
    margin-left: 10px;
    margin-top: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -35px;
}

.push {
    height: 35px;
}

footer {
    padding: 2px;
    clear: both;
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 13px;
    bottom:0;
    margin-top: auto;
    height: 35px;

}

footer a {
    color: white;
}

.subtitle {
    vertical-align: baseline;
    font-size:45%;
}

.subtitle a:active {
    color: IndianRed;
}

.subtitle a {
    text-decoration: none;
    color: gray;
}

.outputDiv {
    height: auto;
}

.columnComments {
    float: left;
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    height: 80%;
}

.columnDetails {
    float: left;
    width: 40%;
    padding: 10px;
    overflow-y: scroll;
    height: 80%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
